body{
	padding: 10px;
	font-size: 35px;
	font-family: cambria;
}

.MJ
{
position:absolute;
left:40%;
}

.MFrom{
	display:block;
	top:70px; }

.standFor{
color:blue;
/*display:none;*/
position:absolute;
left:60%;
/*margin:10px 10px;*/
top:75px;
}

.switch{
position:absolute;
z-index:1;
border-bottom:1px solid blue;
cursor:pointer;
}

.standForClick{
cursor:pointer;
border-bottom:1px solid blue;
}
.MinsunQClick{
text-decoration:underline;
cursor:pointer;
}

.KoreanClick1{
text-decoration:underline;
cursor:pointer;
}
ul{
display:none;
position:relative;
left:330px;
}


.Minsun{
/*display:none;*/
position:absolute;
top:140px;
}
.Minsoon{
text-decoration:underline;
}
.UGHH{
font-weight:bold;
display:none;
color:orange;
font-size:50px;
position:absolute;
left:420px;
top:200px;
-moz-transform:rotate(-20deg);
-webkit-transform:rotate(-20deg);
}

.Korean{

display:none;
color:red;
font-size:100px;
position:absolute;
left:650px;
top:50px;
-moz-transform:rotate(20deg);
-webkit-transform:rotate(20deg);
}

.KoreanClick{
border-bottom:3px solid red;
cursor:pointer;
}

.American{
display:none;
font-size:15px;
position:absolute;
width:200px;
height:40px;
left:630px;
top:190px;
line-height:28px;
}

.naturalized{
color:white;
font-size:18px;
background-color:blue;
cursor:pointer;
}

.relaxant{
display:none;
color:red;
font-size:80px;
-moz-transform:rotate(20deg);
-webkit-transform:rotate(20deg);
position:relative;
left:-90px;
top:10px;
width:400px;
height:40px;
line-height:80px;
cursor:pointer;
}

img{
/* display:none; */
width:350px;
height:250px;

}

.natPic{
display:none;
position:absolute;
left:240px;
top:720px;
}

.before{
position:absolute;
left:240px;
top:810px;
/* border:1px solid black; */
width:150px;
height:190px;
}

.after{
position:absolute;
left:420px;
top:760px;
/* border:1px solid black; */
width:160px;
height:240px;
}

.notRelaxant{
size:100px;
line-height:28px;
display:none;
position:absolute;
left:100px;
top:300px;
}

.before1{
display:none;
position:absolute;
left:0px;
top:960px;
text-decoration:underline;
}

.after1{
display:none;
position:absolute;
left:600px;
top:960px;
text-decoration:underline;
}

.before2{
display:none;
-moz-transform:rotate(65deg);
-webkit-transform:rotate(65deg);
position:absolute;
left:-70px;
top:520px;
color:green;
z-index:1;
}

a link{
color:green;
}

a visited{
color:green;
}