<!DOCTYPE html>

<html>

	<head>	
		<title> Meet 김민선 </title>
			<link rel="stylesheet" href="Minsun.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

		
		<script src="Minsun.js"></script>
<meta charset="UTF-8">
	</head>
	<body>
	<img src="pika.jpg">
	<div class="Hello"> Hi! My name is <span class="Minsun1">Minsun</span>. I'm  <span class="Seven">seven</span>. </div>
	<div class="YourEnglish"> Hello! You are so cute. Your <span class="EnglishClick">english</span> is also very good! 
	</div>
	<div class="Shy1">
	Thank you but I am very shy.
	</div>
	<span class="Mom">
	Sorry, my daughter is very shy girl. 민선, say it <span class="MomClick">louder</span> .
	</span>
	
	<div class="Shy2">
	엄마하기시러 무서워요!
	</div>
	
	<span class="Mom2">
	Sorry, wait please. I will talk to her. She is being so shy. </span>
	
	<span class="Mom3">김민선! TSK TSK! ! ! 머머 붂으러워라! 이게무슨짓이야? 이르와,차렸하고 당당하게 말해봐! 
	</span>
	
	
	<span class="Shy3">
	엄마 하기 진짜시러요 시러요 시러요 시러요 시러요 시러요 시러요  </span>
	
	<span class="Mom4">아이고~ 알겠어. 가서 수진이랑 놀아.
	</span>
	
	<span class="Mom5">I'm so sorry, Minsun doesn't want to talk today. She is scared of strangers. Especially umm ..white..? You, know, because we are Korean, haha. Sorry again. Maybe you could talk to one of her <span class="friends">friends</span>.
	</span>
<!-- 	안녕하세요? 제 이름은 민선이에요 -->
	</body>
</html>